<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="iconfont.css">
    <title>选择城市</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        html{
            font-size: 10px;
        }
        body{
            background-color: #FCFCFC;
        }
        ul li{
            list-style: none;
        }
        #head>img{
            width: 100%;
            height: 13rem;
        }
        #main{
            background: #F0F0F0;
            border-bottom: 1px solid #ddd;
        }
        /*搜索城市*/
        #findCity{
            height: 4rem;
            line-height: 4rem;
            background: #F0F0F0;
            padding: 0 3%;
        }
        #findCity .findCity{
            /* padding: 0 5%; */
            position: relative;
            width: 90%;
            margin: auto;
        }
        #searchCity{
            width: 100%;
            height: 4rem;
            border-radius: 2rem;
            outline: none;
            border: 1px solid #ccc;
            padding-left: 3rem;
        }
        #findCity .cityIcon{
            position: absolute;
            left: 1rem;
        }
        /*热门城市*/
        #hotCity{
            font-size: 1.4rem;
            padding: 0 5%;
            background: #F0F0F0;
        }
        .hotCityTile{
            color: #929292;
        }
        #hotCity>ul{

        }
        #hotCity>ul>li{
            height: 4rem;
            line-height: 4rem;
            display: inline-block;
            padding-right: 5%;
        }
        #main{
            padding-top: 1rem;
        }
        /*当前城市*/
        #LocalCity{
            font-size: 1.4rem;
            padding: 0 5%;
            background: #F0F0F0;
            margin-top: 1rem;
        }
        #LocalCity>.LocalCityName{
            display: flex;
            height: 4rem;
            line-height: 4rem;
        }
        #LocalCity>.LocalCityTitle{
            color: #929292;
        }
        #site{
            font-weight: normal;
            color: #CC9966;
            margin-left: 5px;
        }
        .siteIcon{
            font-size: 2rem;
            color: #929292;
        }
        /*城市列表*/
        #cityList{
            font-size: 1.4rem;
        }
        #cityList>ul>li{
            height: 4rem;
            line-height: 4rem;
            width: 90%;
            margin: auto;
            border-bottom: 1px solid #F0F0F0;
        }
        #cityList>ul>li.active{
            color: #929292;
            padding:0 5%;
            background: #F0F0F0;
        }
        .noactive{

        }
        /*导航*/
        #wordList{
            position: fixed;
            font-size: 1rem;
            right: 5%;
            bottom: 0;
            top: 40%;
            margin: 0 auto;
        }
        #wordList>ul>li{
            height: 2rem;
            line-height: 2rem;
            text-align: center;
        }
    </style>
</head>
<body>

<div id="app">
    <div id="">
        <header id="head">
            <img src="../images/head.png" alt="head">
        </header>
        <main id="main">
            <!--搜索城市-->
            <div id="findCity">
                <label for="searchCity" class="findCity">
                    <em class="cityIcon iconfont icon-grabble"></em>
                    <input id="searchCity" type="search" placeholder="请输入城市名称和首字母查询" autocomplete="off">
                </label>
            </div>
            <!--当前城市-->
            <div id="LocalCity">
                <p class="LocalCityTitle">{{LocalCityTitle}}</p>
                <div class="LocalCityName">
                    <em class="siteIcon iconfont icon-site"></em>
                    <strong id="site">{{LocalCity}}</strong>
                </div>
            </div>
            <!--热门城市-->
            <div id="hotCity">
                <p class="hotCityTile">{{hotCityTile}}</p>
                <ul>
                    <li v-for="item in hotCityList">
                        {{ item.dataContent }}
                    </li>
                </ul>
            </div>
        </main>
        <!--城市列表-->
        <div id="cityList">
            <ul>
                <li v-for="item in cityList" :class="item.dataId.length<5?'active':'noactive'">
                    {{ item.dataContent }}
                </li>
            </ul>
        </div>
        <!--字母导航-->
        <nav id="wordList">
            <ul>
                <li v-for="item in wordList">{{item}}</li>
            </ul>
        </nav>

    </div>
</div>

<script src="../vue/vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            LocalCityTitle:"当前城市",
            LocalCity:"北京",
            hotCityTile:"热门城市",
            hotCityList:[
                {"dataId":"440100","dataContent":"广州"},
                {"dataId":"310100","dataContent":"上海"},
                {"dataId":"430100","dataContent":"长沙"},
                {"dataId":"120100","dataContent":"天津"},
                {"dataId":"420100","dataContent":"武汉"},
                {"dataId":"410100","dataContent":"郑州"},
            ],
            cityList:[
                {"dataId": "0","dataContent": "A"},
                {"dataId":"210300","dataContent":"鞍山市"},
                {"dataId":"152900","dataContent":"阿拉善盟"},
                {"dataId":"340800","dataContent":"安庆市"},
                {"dataId":"410500","dataContent":"安阳市"},
                {"dataId":"542500","dataContent":"阿里地区"},
                {"dataId":"610900","dataContent":"安康市"},
                {"dataId":"520400","dataContent":"安顺市"},
                {"dataId":"513200","dataContent":"阿坝藏族羌族自治州"},
                {"dataId":"659002","dataContent":"阿拉尔市"},
                {"dataId":"652900","dataContent":"阿克苏地区"},
                {"dataId":"820100","dataContent":"澳门特别行政区"},
                {"dataId":"654300","dataContent":"阿勒泰地区"},

                {"dataId": "1","dataContent": "B"},
                {"dataId":"220800","dataContent":"白城市"},
                {"dataId":"150200","dataContent":"包头市"},
                {"dataId":"150800","dataContent":"巴彦淖尔市"},
                {"dataId":"130600","dataContent":"保定市"},
                {"dataId":"210500","dataContent":"本溪市"},
                {"dataId":"220600","dataContent":"白山市"},
                {"dataId":"341600","dataContent":"亳州市"},
                {"dataId":"340300","dataContent":"蚌埠市"},
                {"dataId":"371600","dataContent":"滨州市"},
                {"dataId":"620400","dataContent":"白银市"},
                {"dataId":"610300","dataContent":"宝鸡市"},
                {"dataId":"530500","dataContent":"保山市"},
                {"dataId":"469030","dataContent":"白沙黎族自治县"},
                {"dataId":"451000","dataContent":"百色市"},
                {"dataId":"522401","dataContent":"毕节市"},
                {"dataId":"450500","dataContent":"北海市"},
                {"dataId":"511900","dataContent":"巴中市"},
                {"dataId":"469035","dataContent":"保亭黎族苗族自治县"},
                {"dataId":"652800","dataContent":"巴音郭楞蒙古自治州"},
                {"dataId":"652700","dataContent":"博尔塔拉蒙古自治州"},
                {"dataId":"110100","dataContent":"北京市"},

                {"dataId": "3","dataContent": "C"},
                {"dataId":"140400","dataContent":"长治市"},
                {"dataId":"130900","dataContent":"沧州市"},
                {"dataId":"320400","dataContent":"常州市"},
                {"dataId":"330282","dataContent":"慈溪市"},
                {"dataId":"320581","dataContent":"常熟市"},
                {"dataId":"130800","dataContent":"承德市"},
                {"dataId":"150400","dataContent":"赤峰市"},
                {"dataId":"220100","dataContent":"长春市"},
                {"dataId":"431000","dataContent":"郴州市"},
                {"dataId":"430100","dataContent":"长沙市"},
                {"dataId":"341100","dataContent":"滁州市"},
                {"dataId":"430700","dataContent":"常德市"},
                {"dataId":"341400","dataContent":"巢湖市"},
                {"dataId":"341700","dataContent":"池州市"},
                {"dataId":"469027","dataContent":"澄迈县"},
                {"dataId":"451400","dataContent":"崇左市"},
                {"dataId":"469031","dataContent":"昌江黎族自治县"},
                {"dataId":"532300","dataContent":"楚雄彝族自治州"},
                {"dataId":"445100","dataContent":"潮州市"},
                {"dataId":"500100","dataContent":"重庆市"},
                {"dataId":"510100","dataContent":"成都市"},
                {"dataId":"542100","dataContent":"昌都地区"},
                {"dataId":"652300","dataContent":"昌吉回族自治州"},

                {"dataId": "4","dataContent": "D"},
                {"dataId":"232700","dataContent":"大兴安岭地区"},
                {"dataId":"140200","dataContent":"大同市"},
                {"dataId":"230600","dataContent":"大庆市"},
                {"dataId":"321181","dataContent":"丹阳市"},
                {"dataId":"210200","dataContent":"大连市"},
                {"dataId":"210600","dataContent":"丹东市"},
                {"dataId":"370500","dataContent":"东营市"},
                {"dataId":"371400","dataContent":"德州市"},
                {"dataId":"511700","dataContent":"达州市"},
                {"dataId":"532900","dataContent":"大理白族自治州"},
                {"dataId":"469003","dataContent":"儋州市"},
                {"dataId":"469025","dataContent":"定安县"},
                {"dataId":"533400","dataContent":"迪庆藏族自治州"},
                {"dataId":"510600","dataContent":"德阳市"},
                {"dataId":"469007","dataContent":"东方市"},
                {"dataId":"533100","dataContent":"德宏傣族景颇族自治州"},
                {"dataId":"441900","dataContent":"东莞市"},
                {"dataId":"621100","dataContent":"定西市"},

                {"dataId": "5","dataContent": "E"},
                {"dataId":"150600","dataContent":"鄂尔多斯市"},
                {"dataId":"420700","dataContent":"鄂州市"},
                {"dataId":"422800","dataContent":"恩施土家族苗族自治州"},

                {"dataId": "6","dataContent": "F"},
                {"dataId":"210900","dataContent":"阜新市"},
                {"dataId":"210400","dataContent":"抚顺市"},
                {"dataId":"350181","dataContent":"福清市"},
                {"dataId":"341200","dataContent":"阜阳市"},
                {"dataId":"370983","dataContent":"肥城市"},
                {"dataId":"361000","dataContent":"抚州市"},
                {"dataId":"350100","dataContent":"福州市"},
                {"dataId":"440600","dataContent":"佛山市"},
                {"dataId":"450600","dataContent":"防城港市"},

                {"dataId": "7","dataContent": "G"},
                {"dataId":"440100","dataContent":"广州市"},
                {"dataId":"360700","dataContent":"赣州市"},
                {"dataId":"510800","dataContent":"广元市"},
                {"dataId":"511600","dataContent":"广安市"},
                {"dataId":"450300","dataContent":"桂林市"},
                {"dataId":"450800","dataContent":"贵港市"},
                {"dataId":"520100","dataContent":"贵阳市"},
                {"dataId":"513300","dataContent":"甘孜藏族自治州"},
                {"dataId":"623000","dataContent":"甘南藏族自治州"},
                {"dataId":"640400","dataContent":"固原市"},
                {"dataId":"632600","dataContent":"果洛藏族自治州"},

                {"dataId": "8","dataContent": "H"},
                {"dataId":"231100","dataContent":"黑河市"},
                {"dataId":"211400","dataContent":"葫芦岛市"},
                {"dataId":"330481","dataContent":"海宁市"},
                {"dataId":"320800","dataContent":"淮安市"},
                {"dataId":"131100","dataContent":"衡水市"},
                {"dataId":"150100","dataContent":"呼和浩特市"},
                {"dataId":"330500","dataContent":"湖州市"},
                {"dataId":"230400","dataContent":"鹤岗市"},
                {"dataId":"150700","dataContent":"呼伦贝尔市"},
                {"dataId":"230100","dataContent":"哈尔滨市"},
                {"dataId":"130400","dataContent":"邯郸市"},
                {"dataId":"330100","dataContent":"杭州市"},
                {"dataId":"410600","dataContent":"鹤壁市"},
                {"dataId":"371700","dataContent":"菏泽市"},
                {"dataId":"420200","dataContent":"黄石市"},
                {"dataId":"431200","dataContent":"怀化市"},
                {"dataId":"340600","dataContent":"淮北市"},
                {"dataId":"421100","dataContent":"黄冈市"},
                {"dataId":"430400","dataContent":"衡阳市"},
                {"dataId":"340100","dataContent":"合肥市"},
                {"dataId":"340400","dataContent":"淮南市"},
                {"dataId":"341000","dataContent":"黄山市"},
                {"dataId":"451200","dataContent":"河池市"},
                {"dataId":"460100","dataContent":"海口市"},
                {"dataId":"441600","dataContent":"河源市"},
                {"dataId":"532500","dataContent":"红河哈尼族彝族自治州"},
                {"dataId":"441300","dataContent":"惠州市"},
                {"dataId":"610700","dataContent":"汉中市"},
                {"dataId":"451100","dataContent":"贺州市"},
                {"dataId":"632800","dataContent":"海西蒙古族藏族自治州"},
                {"dataId":"632100","dataContent":"海东市"},
                {"dataId":"632300","dataContent":"黄南藏族自治州"},
                {"dataId":"652200","dataContent":"哈密地区"},
                {"dataId":"632200","dataContent":"海北藏族自治州"},
                {"dataId":"653200","dataContent":"和田地区"},
                {"dataId":"632500","dataContent":"海南藏族自治州"},

                {"dataId": "9","dataContent": "J"},
                {"dataId":"210700","dataContent":"锦州市"},
                {"dataId":"330700","dataContent":"金华市"},
                {"dataId":"140700","dataContent":"晋中市"},
                {"dataId":"320281","dataContent":"江阴市"},
                {"dataId":"220200","dataContent":"吉林市"},
                {"dataId":"230800","dataContent":"佳木斯市"},
                {"dataId":"230300","dataContent":"鸡西市"},
                {"dataId":"330400","dataContent":"嘉兴市"},
                {"dataId":"140500","dataContent":"晋城市"},
                {"dataId":"350582","dataContent":"晋江市"},
                {"dataId":"370282","dataContent":"即墨市"},
                {"dataId":"360800","dataContent":"吉安市"},
                {"dataId":"370100","dataContent":"济南市"},
                {"dataId":"420800","dataContent":"荆门市"},
                {"dataId":"410800","dataContent":"焦作市"},
                {"dataId":"370800","dataContent":"济宁市"},
                {"dataId":"410881","dataContent":"济源市"},
                {"dataId":"421000","dataContent":"荆州市"},
                {"dataId":"360400","dataContent":"九江市"},
                {"dataId":"360200","dataContent":"景德镇市"},
                {"dataId":"445200","dataContent":"揭阳市"},
                {"dataId":"620300","dataContent":"金昌市"},
                {"dataId":"440700","dataContent":"江门市"},
                {"dataId":"620200","dataContent":"嘉峪关市"},
                {"dataId":"620900","dataContent":"酒泉市"},

                {"dataId": "10","dataContent": "K"},
                {"dataId":"320583","dataContent":"昆山市"},
                {"dataId":"410200","dataContent":"开封市"},
                {"dataId":"530100","dataContent":"昆明市"},
                {"dataId":"650200","dataContent":"克拉玛依市"},
                {"dataId":"653000","dataContent":"克孜勒苏柯尔克孜自治州"},
                {"dataId":"653100","dataContent":"喀什地区"},

                {"dataId": "11","dataContent": "L"},
                {"dataId":"141000","dataContent":"临汾市"},
                {"dataId":"131000","dataContent":"廊坊市"},
                {"dataId":"211000","dataContent":"辽阳市"},
                {"dataId":"220400","dataContent":"辽源市"},
                {"dataId":"141100","dataContent":"吕梁市"},
                {"dataId":"320700","dataContent":"连云港市"},
                {"dataId":"371200","dataContent":"莱芜市"},
                {"dataId":"411100","dataContent":"漯河市"},
                {"dataId":"331100","dataContent":"丽水市"},
                {"dataId":"341500","dataContent":"六安市"},
                {"dataId":"431300","dataContent":"娄底市"},
                {"dataId":"350800","dataContent":"龙岩市"},
                {"dataId":"370681","dataContent":"龙口市"},
                {"dataId":"371300","dataContent":"临沂市"},
                {"dataId":"410300","dataContent":"洛阳市"},
                {"dataId":"371500","dataContent":"聊城市"},
                {"dataId":"530700","dataContent":"丽江市"},
                {"dataId":"451300","dataContent":"来宾市"},
                {"dataId":"510500","dataContent":"泸州市"},
                {"dataId":"530900","dataContent":"临沧市"},
                {"dataId":"469033","dataContent":"乐东黎族自治县"},
                {"dataId":"511100","dataContent":"乐山市"},
                {"dataId":"620100","dataContent":"兰州市"},
                {"dataId":"450200","dataContent":"柳州市"},
                {"dataId":"513400","dataContent":"凉山彝族自治州"},
                {"dataId":"469034","dataContent":"陵水黎族自治县"},
                {"dataId":"542600","dataContent":"林芝地区"},
                {"dataId":"469028","dataContent":"临高县"},
                {"dataId":"540100","dataContent":"拉萨市"},
                {"dataId":"520200","dataContent":"六盘水市"},
                {"dataId":"621200","dataContent":"陇南市"},
                {"dataId":"622900","dataContent":"临夏回族自治州"},

                {"dataId": "12","dataContent": "M"},
                {"dataId":"231000","dataContent":"牡丹江市"},
                {"dataId":"340500","dataContent":"马鞍山市"},
                {"dataId":"510700","dataContent":"绵阳市"},
                {"dataId":"511400","dataContent":"眉山市"},
                {"dataId":"440900","dataContent":"茂名市"},
                {"dataId":"441400","dataContent":"梅州市"},

                {"dataId": "13","dataContent": "N"},
                {"dataId":"320100","dataContent":"南京市"},
                {"dataId":"330200","dataContent":"宁波市"},
                {"dataId":"320600","dataContent":"南通市"},
                {"dataId":"360100","dataContent":"南昌市"},
                {"dataId":"411300","dataContent":"南阳市"},
                {"dataId":"350700","dataContent":"南平市"},
                {"dataId":"350900","dataContent":"宁德市"},
                {"dataId":"350583","dataContent":"南安市"},
                {"dataId":"542400","dataContent":"那曲地区"},
                {"dataId":"450100","dataContent":"南宁市"},
                {"dataId":"511300","dataContent":"南充市"},
                {"dataId":"511000","dataContent":"内江市"},
                {"dataId":"533300","dataContent":"怒江傈僳族自治州"},

                {"dataId": "14","dataContent": "P"},
                {"dataId":"211100","dataContent":"盘锦市"},
                {"dataId":"360300","dataContent":"萍乡市"},
                {"dataId":"410400","dataContent":"平顶山市"},
                {"dataId":"410900","dataContent":"濮阳市"},
                {"dataId":"350300","dataContent":"莆田市"},
                {"dataId":"510400","dataContent":"攀枝花市"},
                {"dataId":"530800","dataContent":"普洱市"},
                {"dataId":"620800","dataContent":"平凉市"},

                {"dataId": "15","dataContent": "Q"},
                {"dataId":"130300","dataContent":"秦皇岛市"},
                {"dataId":"230200","dataContent":"齐齐哈尔市"},
                {"dataId":"230900","dataContent":"七台河市"},
                {"dataId":"350500","dataContent":"泉州市"},
                {"dataId":"429005","dataContent":"潜江市"},
                {"dataId":"370200","dataContent":"青岛市"},
                {"dataId":"330800","dataContent":"衢州市"},
                {"dataId":"441800","dataContent":"清远市"},
                {"dataId":"522700","dataContent":"黔南布依族苗族自治州"},
                {"dataId":"450700","dataContent":"钦州市"},
                {"dataId":"530300","dataContent":"曲靖市"},
                {"dataId":"522300","dataContent":"黔西南布依族苗族自治州"},
                {"dataId":"621000","dataContent":"庆阳市"},
                {"dataId":"522600","dataContent":"黔东南苗族侗族自治州"},
                {"dataId":"469002","dataContent":"琼海市"},
                {"dataId":"469036","dataContent":"琼中黎族苗族自治县"},

                {"dataId": "16","dataContent": "R"},
                {"dataId":"320682","dataContent":"如皋市"},
                {"dataId":"371082","dataContent":"荣成市"},
                {"dataId":"371100","dataContent":"日照市"},
                {"dataId":"542301","dataContent":"日喀则市"},

                {"dataId": "17","dataContent": "S"},
                {"dataId":"220300","dataContent":"四平市"},
                {"dataId":"231200","dataContent":"绥化市"},
                {"dataId":"220700","dataContent":"松原市"},
                {"dataId":"320500","dataContent":"苏州市"},
                {"dataId":"310100","dataContent":"上海市"},
                {"dataId":"321300","dataContent":"宿迁市"},
                {"dataId":"330600","dataContent":"绍兴市"},
                {"dataId":"140600","dataContent":"朔州市"},
                {"dataId":"230500","dataContent":"双鸭山市"},
                {"dataId":"210100","dataContent":"沈阳市"},
                {"dataId":"330682","dataContent":"上虞市"},
                {"dataId":"130100","dataContent":"石家庄市"},
                {"dataId":"440500","dataContent":"汕头市"},
                {"dataId":"350400","dataContent":"三明市"},
                {"dataId":"429021","dataContent":"神农架林区"},
                {"dataId":"361100","dataContent":"上饶市"},
                {"dataId":"411400","dataContent":"商丘市"},
                {"dataId":"421300","dataContent":"随州市"},
                {"dataId":"341300","dataContent":"宿州市"},
                {"dataId":"411200","dataContent":"三门峡市"},
                {"dataId":"420300","dataContent":"十堰市"},
                {"dataId":"440300","dataContent":"深圳市"},
                {"dataId":"430500","dataContent":"邵阳市"},
                {"dataId":"440200","dataContent":"韶关市"},
                {"dataId":"441500","dataContent":"汕尾市"},
                {"dataId":"510900","dataContent":"遂宁市"},
                {"dataId":"611000","dataContent":"商洛市"},
                {"dataId":"542200","dataContent":"山南地区"},
                {"dataId":"460200","dataContent":"三亚市"},
                {"dataId":"640200","dataContent":"石嘴山市"},
                {"dataId":"659001","dataContent":"石河子市"},

                {"dataId": "18","dataContent": "T"},
                {"dataId":"140100","dataContent":"太原市"},
                {"dataId":"211200","dataContent":"铁岭市"},
                {"dataId":"220500","dataContent":"通化市"},
                {"dataId":"130200","dataContent":"唐山市"},
                {"dataId":"320585","dataContent":"太仓市"},
                {"dataId":"120100","dataContent":"天津市"},
                {"dataId":"321200","dataContent":"泰州市"},
                {"dataId":"150500","dataContent":"通辽市"},
                {"dataId":"331000","dataContent":"台州市"},
                {"dataId":"370900","dataContent":"泰安市"},
                {"dataId":"429006","dataContent":"天门市"},
                {"dataId":"340700","dataContent":"铜陵市"},
                {"dataId":"522201","dataContent":"铜仁市"},
                {"dataId":"469026","dataContent":"屯昌县"},
                {"dataId":"610200","dataContent":"铜川市"},
                {"dataId":"620500","dataContent":"天水市"},
                {"dataId":"654200","dataContent":"塔城地区"},
                {"dataId":"659003","dataContent":"图木舒克市"},
                {"dataId":"652100","dataContent":"吐鲁番地区"},
                {"dataId":"710100","dataContent":"台湾"},

                {"dataId": "19","dataContent": "W"},
                {"dataId":"330300","dataContent":"温州市"},
                {"dataId":"320200","dataContent":"无锡市"},
                {"dataId":"150900","dataContent":"乌兰察布市"},
                {"dataId":"150300","dataContent":"乌海市"},
                {"dataId":"340200","dataContent":"芜湖市"},
                {"dataId":"420100","dataContent":"武汉市"},
                {"dataId":"370700","dataContent":"潍坊市"},
                {"dataId":"371000","dataContent":"威海市"},
                {"dataId":"469006","dataContent":"万宁市"},
                {"dataId":"610500","dataContent":"渭南市"},
                {"dataId":"469005","dataContent":"文昌市"},
                {"dataId":"469001","dataContent":"五指山市"},
                {"dataId":"620600","dataContent":"武威市"},
                {"dataId":"450400","dataContent":"梧州市"},
                {"dataId":"532600","dataContent":"文山壮族苗族自治州"},
                {"dataId":"659004","dataContent":"五家渠市"},
                {"dataId":"640300","dataContent":"吴忠市"},
                {"dataId":"650100","dataContent":"乌鲁木齐市"},

                {"dataId": "20","dataContent": "X"},
                {"dataId":"140900","dataContent":"忻州市"},
                {"dataId":"152500","dataContent":"锡林郭勒盟"},
                {"dataId":"130500","dataContent":"邢台市"},
                {"dataId":"152200","dataContent":"兴安盟"},
                {"dataId":"320300","dataContent":"徐州市"},
                {"dataId":"410700","dataContent":"新乡市"},
                {"dataId":"420600","dataContent":"襄阳市"},
                {"dataId":"360500","dataContent":"新余市"},
                {"dataId":"411500","dataContent":"信阳市"},
                {"dataId":"429004","dataContent":"仙桃市"},
                {"dataId":"411000","dataContent":"许昌市"},
                {"dataId":"430300","dataContent":"湘潭市"},
                {"dataId":"350200","dataContent":"厦门市"},
                {"dataId":"341800","dataContent":"宣城市"},
                {"dataId":"420900","dataContent":"孝感市"},
                {"dataId":"421200","dataContent":"咸宁市"},
                {"dataId":"433100","dataContent":"湘西土家族苗族自治州"},
                {"dataId":"610100","dataContent":"西安市"},
                {"dataId":"610400","dataContent":"咸阳市"},
                {"dataId":"532800","dataContent":"西双版纳傣族自治州"},
                {"dataId":"630100","dataContent":"西宁市"},
                {"dataId":"810100","dataContent":"香港特别行政区"},

                {"dataId": "21","dataContent": "Y"},
                {"dataId":"320282","dataContent":"宜兴市"},
                {"dataId":"222400","dataContent":"延边朝鲜族自治州"},
                {"dataId":"321000","dataContent":"扬州市"},
                {"dataId":"140800","dataContent":"运城市"},
                {"dataId":"320900","dataContent":"盐城市"},
                {"dataId":"140300","dataContent":"阳泉市"},
                {"dataId":"330281","dataContent":"余姚市"},
                {"dataId":"230700","dataContent":"伊春市"},
                {"dataId":"210800","dataContent":"营口市"},
                {"dataId":"370600","dataContent":"烟台市"},
                {"dataId":"420500","dataContent":"宜昌市"},
                {"dataId":"430600","dataContent":"岳阳市"},
                {"dataId":"360900","dataContent":"宜春市"},
                {"dataId":"430900","dataContent":"益阳市"},
                {"dataId":"330782","dataContent":"义乌市"},
                {"dataId":"360600","dataContent":"鹰潭市"},
                {"dataId":"431100","dataContent":"永州市"},
                {"dataId":"450900","dataContent":"玉林市"},
                {"dataId":"511800","dataContent":"雅安市"},
                {"dataId":"530400","dataContent":"玉溪市"},
                {"dataId":"441700","dataContent":"阳江市"},
                {"dataId":"610800","dataContent":"榆林市"},
                {"dataId":"511500","dataContent":"宜宾市"},
                {"dataId":"445300","dataContent":"云浮市"},
                {"dataId":"610600","dataContent":"延安市"},
                {"dataId":"654000","dataContent":"伊犁哈萨克自治州"},
                {"dataId":"640100","dataContent":"银川市"},
                {"dataId":"632700","dataContent":"玉树藏族自治州"},

                {"dataId": "22","dataContent": "Z"},
                {"dataId":"130700","dataContent":"张家口市"},
                {"dataId":"330681","dataContent":"诸暨市"},
                {"dataId":"321100","dataContent":"镇江市"},
                {"dataId":"320582","dataContent":"张家港市"},
                {"dataId":"211300","dataContent":"朝阳市"},
                {"dataId":"430800","dataContent":"张家界市"},
                {"dataId":"410100","dataContent":"郑州市"},
                {"dataId":"370400","dataContent":"枣庄市"},
                {"dataId":"330900","dataContent":"舟山市"},
                {"dataId":"440183","dataContent":"增城市"},
                {"dataId":"440400","dataContent":"珠海市"},
                {"dataId":"411600","dataContent":"周口市"},
                {"dataId":"370300","dataContent":"淄博市"},
                {"dataId":"430200","dataContent":"株洲市"},
                {"dataId":"350600","dataContent":"漳州市"},
                {"dataId":"411700","dataContent":"驻马店市"},
                {"dataId":"440800","dataContent":"湛江市"},
                {"dataId":"520300","dataContent":"遵义市"},
                {"dataId":"510300","dataContent":"自贡市"},
                {"dataId":"530600","dataContent":"昭通市"},
                {"dataId":"441200","dataContent":"肇庆市"},
                {"dataId":"442000","dataContent":"中山市"},
                {"dataId":"620700","dataContent":"张掖市"},
                {"dataId":"512000","dataContent":"资阳市"},
                {"dataId":"640500","dataContent":"中卫市"}
            ],
            wordList:[
                "#","A","B","C","D","E","F","G","F","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"
            ]
        },
        methods:{

        }
    })
</script>

</body>
</html>