<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度下拉列表</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <script src="../vue/vue.js"></script>
    <script src=../vue/vue-resource.js></script>
    <style>
        #app{
            margin-top: 60px;
        }
        .item{
            margin-top: 5px;
        }
        .grey{
            background: #ccc;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <!--注意阻止 form 表单的默认提交行为-->
    <form action="" onsubmit="return false">
        <div class="form-group">
            <h6>请输入您想搜索的内容</h6>
            <input type="text" class="form-control" value="" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()" v-model="con">
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item item" v-for="item in newsList" :class="{grey:$index==now}">{{item}}</li>
            </ul>
        </div>
        <div v-show="newsList.length==0">
            <ul class="list-group">
                <li class="list-group-item">暂无数据...</li>
            </ul>
        </div>
    </form>
</div>


<script>
    new Vue({
        el: "#app",
        data: {
            newsList:[],
            con:'',
            now:-1
        },
        methods: {
            get:function (ev) {
                // 阻止up arrow 和 dw arrow的默认事件
                if(ev.keyCode ==38||ev.keyCode ==40){
                    return false;
                }
                //Enter 事件
                if(ev.keyCode ==13){
                    console.log(this.con);
                    window.open('https://www.baidu.com/s?wd='+this.con);
                    this.con='';
                }

                this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                    wd:this.con,
                },{
                    jsonp:'cb'
                }).then(function (res) {
                    // this.newsList.push(res.data.s)->错误写法
                    this.newsList=res.data.s;
                },function (err) {
                    console.log(err);
                });
            },
            changeDown:function () {
              this.now++;
              if(this.now==this.newsList.length){
                  this.now=-1;
              }
              this.con=this.newsList[this.now]
            },
            changeUp:function () {
                this.now--;
                if(this.now==-2){
                    this.now=this.newsList.length-1;
                }
                this.con=this.newsList[this.now]
            }
        }
    });
</script>
</body>
</html>