<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>computed2</title>
</head>
<body>


<div id="app">
    level {{username}}
    <br>
    <input type="text" v-model="first">
    <br>
    <input type="text" v-model="last">

</div>

<script src="vue/vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            first:"Jelly",
            last:"Bool"
        },
        computed:{
            username:function () {
                return this.first +""+this.last
            }
        }
    });
</script>







</body>
</html>