<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>computed</title>
</head>
<body>

<div id="app">
    a={{a}},b={{b}}
</div>
<script src="vue/vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            a:100
        },
        computed:{
           b:function () {
               return this.a+1;
           }
        }
    });
</script>


</body>
</html>