<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
    <script src="vue/vue.js"></script>
</head>
<body>
<div class="test">
    {{message | capitalize}}
</div>
<script type="text/javascript">
    var myVue = new Vue({
        el: ".test",
        data: {
            message: "abc"
        }
    })
</script>
</body>
</html>