<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对象语法</title>
</head>
<body>


<div id="app">
    <div v-bind:style="[styleObjectA,styleObjectB,styleObjectC]">{{message}}</div>
</div>

<script src="vue/vue.js"></script>

<script>

    new Vue({
        el:"#app",
        data:{
            message:"hello world!",
            styleObjectA:{
                color:"green",
            },
            styleObjectB:{
                fontSize:"20px",
            },
            styleObjectC:{
                fontStyle:"italic",
                textDecoration:"underline"
            }
        }
    })
</script>










</body>
</html>