<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <style>
        .completed{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <!--v-bind:class 等价于:class-->
    <div id="app">
        <task-app :list="tasks"></task-app>
        <task-app :list="[{body:'oop',completed:false},{body:'vivo',completed:true}]"></task-app>
    </div>

    <template id="template-task">
        <ul>
            <li
                    @click="toggleTask(item)"
                    :class="{'completed':item.completed}"
                    v-for="item in list">
                {{item.body}}
            </li>
        </ul>
    </template>

<script src="vue/vue.js"></script>
<script>

    Vue.component('task-app',{
        template:"#template-task",
        props:['list'],
        //methods写在组件中，否则报错
        methods:{
            toggleTask:function (item) {
                item.completed = ! item.completed;
            }
        }
    });

    new Vue({
        el:"#app",
        data:{
            tasks:[
                {body:"go to movie",completed:true}
                ,{body:"go to running",completed:false}
                ,{body:"go to parking",completed:true}
                ,{body:"go to drinking",completed:false}
                ,{body:"go to shopping",completed:true}
                ,{body:"go to learning",completed:false}
            ]
        },
    });

</script>

</body>
</html>