<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app" v-html="message">
    <span>{{ message }}</span>
</div>
<script src="vue/vue.js"></script>

<script>
    new Vue({
        el:"#app",
        data:{
            message:'this is a <b style="color: red;">rainy</b> day'

        }
    });
</script>



</body>
</html>