<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--vue不在支持这种写法-->
    <!--<span>{{{msg}}}</span>-->
    <br>
    <!--当data的变量中包含html标签时，使用v-html指令-->
    <span v-html="msg"></span>
</div>
<script src="vue/vue.js"></script>
<script>
    window.onload=function () {
        new Vue({
            el:"#app",
            data:{
                msg:"<strong>hello NIT!</strong>"
            },
            methods:{

            }
        });
    }
</script>
</body>
</html>