<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model双向数据绑定</title>
</head>
<body>

<div id="app">
    <h1>{{message}}</h1>
    <input type="text" v-model="message">
</div>

<script src="vue/vue.js"></script>

<script>
    new Vue({
        el:"#app",
        data:{
            message:"hello world!"
        }
    });

</script>

</body>
</html>