<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-show</title>
    <style>
        .error{
            color: red;
        }
        textarea{
            display: block;
        }
    </style>
</head>
<body>

<div id="app">
    <!--注意区分v-show 与 v-if 的区分-->
    <div class="error" v-if="!message">你必须输入一些文字</div>
    <textarea v-model="message"></textarea>
    <button v-show="message">发送信息</button>
</div>

<script src="vue/vue.js"></script>

<script>
    new Vue({
        el:"#app",
        data:{
            message:''
        }
    });


</script>






</body>
</html>