<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue/vue.js"></script>
    <script src="vue/vue-router.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li><a v-link="{path:'/home'}">主页</a></li>
        <li><a v-link="{path:'/news'}">新闻</a></li>
    </ul>

    <div>
        <router-view></router-view>
    </div>

    <template id="home">
        <h3>我是主页</h3>
        <div>
            <a v-link="{path:'/home/login'}">登录</a>
            <a v-link="{path:'/home/reg'}">注册</a>
        </div>
        <div>
            <router-view></router-view>
        </div>
    </template>

    <template id="news">
        <h3>我是新闻</h3>
        <div>
            <a v-link="{path:'/news/details/001'}">新闻001</a>
            <a v-link="{path:'/news/details/002'}">新闻002</a>
        </div>
        <div>
            <router-view></router-view>
        </div>
    </template>

    <template id="details">
        {{$route.params|json}}
        <br>
        <!--路径-->
        {{$route.path}}
        <br>
        <!--数据-->
        {{$route.query | json}}
    </template>


</div>
<script>
    //1.定义一个根组件
    var App=Vue.extend();

    //2.Home News组件都要准备
    var Home=Vue.extend({
        template:"#home"
     });

    var News=Vue.extend({
        template:"#news"
    });

    var  Details=Vue.extend({
        template:"#details"
    });
    //3.准备路由
    var router = new VueRouter();
    //4.关联
    router.map({
        'home':{
            component:Home,
            subRoutes:{
                "login":{
                    component:{
                        template:"<strong>我是登录信息</strong>"
                    }
                },
                "reg":{
                    component:{
                        template:"<strong>我是注册信息</strong>"
                    }
                },
            }
        },
        'news':{
            component: News,
            subRoutes: {
                '/details/:id':{
                    component:Details
                }
            }
        }
    });
    //启动 路由
    router.start(App,"#app");

    //跳转
    router.redirect({
        '/':'home'
    })

</script>
</body>
</html>