<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue起步</title>
</head>
<body>


<div>{{innerText | uppercase}}</div>

<script src="vue/vue.js"></script>
<script>
  new Vue({
      el:"div",
      data:{
          innerText:"hello jack Ma!"
      }
  })
</script>


</body>
</html>