<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监听数据变化</title>
    <script src="vue/vue.js"></script>
</head>
<body>

<div id="app">
    <h3>{{a | json}}</h3>
    <h3>{{b}}</h3>

</div>

<script>
    var vm=new Vue({
        el: "#app",
        data: {
            a:{name:"peter",age:10},
            b:"2"
        },
        methods: {}
    });
    document.onclick=function () {
        vm.a.name="jhon"
    }
    vm.$watch("a",function () {//浅度监视
        alert("发生变化了");
        this.b=100;
    },{deep:true})
</script>
</body>
</html>