<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue/vue.js"></script>
</head>
<body>

<div id="app">
    <aaa></aaa>
</div>

<template id="aaa">
    <h3>父组件==》{{msg}}</h3>
    <bbb v-on:child-msg="get"></bbb>
</template>

<template id="bbb">
    <span>子组件</span>
    <input type="button" value="send" @click="send()">
</template>
<script>
    new Vue({
        el: "#app",
        components:{
            "aaa":{
                data:function(){
                    return {
                        msg:"我是父组件的数据"
                    }
                },
                template:"#aaa",
                methods:{
                    get:function (msg) {
                        this.msg=msg;
                    }
                },
                components:{
                    "bbb":{
                        data:function(){
                            return {
                                a:"我是子组件的数据"
                            }
                        },
                        template: "#bbb",
                        methods:{
                            send:function(){
                                this.$emit('child-msg',this.a)
                            }
                        }
                    }
                }
            }
        }
    });
</script>
</body>
</html>