<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义属性</title>
    <script src="vue/vue.js"></script>
</head>
<body>

<div id="app" v-red="">
    <h3>{{msg}}</h3>
    <br>
    <h3>{{mgs}}</h3>
    <br>
    <h3>{{smg}}</h3>
</div>
<script>
    // 自定义指令要写在实例之前
    Vue.directive('red',function(){
        this.el.style.backgroundColor="red"
    });
    new Vue({
        el: "#app",
        data: {
            msg:"自定义属性",
            mgs:"sdsa",
            smg:"wer",
            gms:"pope"
        },
        methods: {}
    });
</script>
</body>
</html>