<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue/vue.js"></script>
</head>
<body>

<div id="app">
    {{a | date}}
</div>

<script>
    new Vue({
        el: "#app",
        data: {
           a:Date.now()
        },
        methods: {

        },
        filters:{
            date:function (input) {
               var oDate=new Date(input);
               return oDate.getFullYear()+'-'+oDate.getMonth()+'-'+oDate.getDate()+'-'+oDate.getHours()+'-'+oDate.getMinutes()+"-"+oDate.getSeconds();
            }
        }
    });
</script>
</body>
</html>