<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
    <script src="vue/vue.js"></script>
</head>
<body>

    <!--<div id="app">-->
        <!--debounce 配合事件 延迟执行-->
        <!--<input type="text" @keyup="show() | debounce 2000">-->
    <!--</div>-->

    <!--<script>-->
        <!--new Vue({-->
            <!--el: "#app",-->
            <!--data: {-->

            <!--},-->
            <!--methods: {-->
               <!--show:function () {-->
                   <!--alert(1)-->
               <!--}-->
            <!--}-->
        <!--});-->
    <!--</script>-->





    <!--数据配合使用过滤器-->
    <!--limitBy 限制显示几个：比如后台获取到100条数据，限制只显示50个-->
    <!--limitBy 一般数组使用-->

    <!--<div id="app">-->
        <!--<ul>-->
            <!--&lt;!&ndash;限制2个&ndash;&gt;-->
            <!--&lt;!&ndash;<li v-for="val in arr | limitBy 2">{{val}}</li>&ndash;&gt;-->
            <!--&lt;!&ndash;从length为1处哪开始取&ndash;&gt;-->
            <!--&lt;!&ndash;<li v-for="val in arr | limitBy 2 1">{{val}}</li>&ndash;&gt;-->
            <!--&lt;!&ndash;从倒数第几个开始取 偏移量&ndash;&gt;-->
            <!--<li v-for="val in arr | limitBy 2 arr.length-2">{{val}}</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<script>-->
        <!--new Vue({-->
            <!--el:"#app",-->
            <!--data:{-->
                <!--arr:[1,2,3,4,5]-->
            <!--},-->
            <!--methods:{-->

            <!--}-->
        <!--})-->
    <!--</script>-->


    <!--<div id="app">-->
        <!--<ul>-->
            <!--&lt;!&ndash;可以是字符串固定值&ndash;&gt;-->
            <!--<li v-for="val in arr | filterBy 'a'">{{val}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<script>-->
        <!--new Vue({-->
            <!--el:"#app",-->
            <!--data:{-->
                <!--arr:["width","height","background","orange"]-->
            <!--},-->
            <!--methods:{-->

            <!--}-->
        <!--})-->
    <!--</script>-->



    <!--<div id="app">-->
        <!--<input type="text" v-model="a">-->
        <!--<ul>-->
            <!--&lt;!&ndash;也可以是变量&ndash;&gt;-->
            <!--<li v-for="val in arr | filterBy a">{{val}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<script>-->
        <!--new Vue({-->
            <!--el:"#app",-->
            <!--data:{-->
                <!--a:'',-->
                <!--arr:["width","height","background","orange"]-->
            <!--},-->
            <!--methods:{-->

            <!--}-->
        <!--})-->
    <!--</script>-->


    <div id="app">
        <input type="text" v-model="a">
        <ul>
            orderBy 排序
                1 正序
                -1 倒序
            <li v-for="val in arr | orderBy -1">{{val}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                a:'',
                arr:["width","height","background","orange"]
            },
            methods:{

            }
        })
    </script>









</body>
</html>